---
import { type TalkInfo } from "~/data";

import TalkTag from "./TalkTag.astro";
import TalkFormat from "./TalkFormat.astro";
import TalkDiscord from "./TalkDiscord.astro";
import Speaker from "./Speaker.astro";
import LanguageSoup from "./LanguageSoup.astro";
import { Markdown } from "@astropub/md";

interface Props {
	class?: string;
	talk: TalkInfo;
}

const {
	class: className,
	talk: { title, people, tags, talkFormat, description, slug },
	...rest
} = Astro.props;
---

<li {...rest} class:list={["talk", className]} id={slug}>
	<div class="talk-top">
		<a class="title" href={`#${slug}`}>{title}</a>
		<div class="description">
			<Markdown of={description} />
		</div>
		<div class="tags">
			{
				tags
					.filter((t) => t !== "Language Soup")
					.map((tag) => <TalkTag tag={tag} />)
			}
			{tags.includes("Language Soup") ? <LanguageSoup /> : null}
		</div>
	</div>

	<div class="talk-details">
		<ul class="speakers">
			{people.map((person) => <Speaker href={`#${slug}`} person={person} />)}
		</ul>
		<div class="talk-details-links">
			<TalkDiscord discord={slug} />
			<TalkFormat format={talkFormat} />
		</div>
	</div>
</li>

<style>
	.talk {
		--fontSize: var(--fontSizeBodySmaller);
		--imageSize: clamp(3.5rem, 10vw, 6rem);
		align-items: flex-start;
		background-color: var(--colorBackdropLight);
		border-radius: 0.5rem;
		border: 1px solid white;
		box-shadow: 0 0 0.125rem var(--colorTextShadow);
		display: flex;
		flex-basis: 0;
		flex-direction: column;
		font-family: var(--fontFamilyBody);
		justify-content: space-between;
		max-width: var(--widthBodyFull);
		padding: 1.5rem;
		scroll-margin-top: 1rem;
	}

	.talk-top {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.title {
		color: var(--colorForegroundBody);
		font-size: var(--fontSizeH3);
		font-weight: var(--fontWeightBold);
		text-align: left;
		margin-bottom: 0.5rem;
		text-decoration: none;
	}

	.title::after {
		content: " 🔗";
		opacity: 0;
		transition: var(--transitionMedium) opacity;
	}

	:is(.talk:hover, .talk:focus-within) .title::after {
		opacity: 1;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		margin: 0.5rem 0;
		gap: 0.75rem;
	}

	.description {
		color: var(--colorForegroundBody);
		margin-top: 0.5rem;
		line-height: 1.25em;
		margin-bottom: 0.5rem;
		text-align: left;
		overflow: hidden;
	}

	.talk-details {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		width: 100%;
	}

	.talk-details-links {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.speakers {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		font-family: var(--fontFamilyBody);
		gap: 2rem;
		margin-top: 1.5rem;
	}

	//normal ul
	ul {
		list-style-type: none;
		padding: 0;
	}
	//normal li
	li {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;
	}

	p {
		margin: 1rem !important;
	}
</style>
